AWS/deploy_webserver/log
AWS/vpc_infrastructure/.terraform
AWS/vpc_infrastructure/terraform.tfstate
AWS/vpc_infrastructure/terraform.tfstate.backup
Azure/deploy_webserver/logs

AWS/load_balancer/.terraform
AWS/load_balancer/terraform.tfstate
AWS/load_balancer/terraform.tfstate.backup

AWS/network_security/.terraform
AWS/network_security/terraform.tfstate
AWS/network_security/terraform.tfstate.backup

AWS/vpc_peering/.terraform
AWS/vpc_peering/terraform.tfstate
AWS/vpc_peering/terraform.tfstate.backup
AWS/vpc_peering/ec2_key.yml

AWS/transit_gateway/.terraform
AWS/transit_gateway/terraform.tfstate
AWS/transit_gateway/terraform.tfstate.backup